**/[Bb]in/
**/bin\\Debug/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/[Oo]ut/
**/[Bb]uild/
.vs/
.vscode/
*.user
*.userprefs
*.suo
*.ide
*.sqlite
*.db

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Mac/OSX Files
.DS_Store

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*